*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image: url("https://s2.qwant.com/thumbr/0x380/c/7/addf244e822b8c79b0838d4cef73d75844f86de44a5c8b25f6cbe8e1af94e3/Liquicity_space_sky_colorful-134229.png!d.jpg?u=https%3A%2F%2Fc.wallhere.com%2Fphotos%2Fac%2F16%2FLiquicity_space_sky_colorful-134229.png!d&q=0&b=1&p=0&a=0");
}