*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    nav{

        display: flex;

        ul{

            display: flex;
            padding-left: 30px;
            padding-top: 20px;
            
            li{

                padding-right: 10px;
                list-style: none;

                a{

                    text-decoration: none;
                    color: black;
                }
            }
        }

        button{

            padding: 0px 25px;
        }
    }
}